
* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 17px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body {
  	background-color: #435165;
}

.container {
  	width: 800px;
  	background-color: #435165;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
	color: white;
}

.container label[type="msg"] {
	color: azure;
	font-size: 13px;
}


.container form input[type="text"] , .container form input[type="email"] {
  	width: 700px;
  	height: 50px;
  	border: 1px solid #dee0e3;
  	margin-bottom: 20px;
	margin: 5px;
  	padding: 0 10px;
	color: black;
}
.container form input[type="submit"] {
  	width: 200px;
  	padding: 15px;
	margin-right: 0px;
  	background-color: #3274d6;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.container form input[type="submit"]:hover {
	background-color: #2868c7;
  	transition: background-color 0.2s;
}

